@import url("../../styles-and-fonts/fonts.css");
@import url("../../components/movie-list-item/movie-list-item.css");

.main {
    display: block;
}

.movie-data {
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.movie-data .movie-image {
    width: 400px;
    height: 600px;
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
}

.movie-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 500px;
}

@media (max-width: 767px) {
    .movie-data {
        flex-direction: column;
    }
    .movie-data .movie-image {
        width: 150px;
        height: 200px;
        border-radius: 4px;
        margin-right: 10px;
        display: flex;
        margin-bottom: 20px;
    }

    .movie-data .movie-info {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .movie-data .movie-info .movie-title {
        font-size: 15px;
    }
    .movie-data .movie-info .details .movie-genre {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
     .movie-data .movie-info .details .movie-release {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .movie-data .movie-info .overview-name {
        font-size: 12px;
    }
    .movie-data .movie-info .price-name {
        font-size: 12px;
    }
    .movie-data .movie-info .quantity-name {
        font-size: 12px;
    }
    .movie-data .movie-info .overview .overview-value {
        font-size: 12px;
    }
    .movie-data .movie-info .quantity .quantity-value .value{
        font-size: 12px;
    }
    .movie-data .movie-info .movie-price .price-value {
        font-size: 17px;
    }
    .movie-data .movie-info .purchasing .add-to-cart {
        width: 100%;
        height: 50px;
        font-size: 14px;
        background-image: none;
    }
    .movie-data .movie-info .purchasing .buy-now {
        width: 100%;
        height: 50px;
        font-size: 14px;
        margin-bottom: 8px;
    }
    .movie-data .movie-info .quantity .quantity-value button {
        width: 40px;
        height: 40px;
    }
    .movie-data .movie-info .movie-price {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .movie-data .movie-info .purchasing {
        display: block;
        flex-direction: column;
        justify-content: space-between;
    }
}

.movie-data .movie-title { 
    font-family: "Circular Black";
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.73;
    letter-spacing: 0.3px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.movie-data .details div{
    margin-bottom: 10px;
    display: block;
}

.movie-data .details .movie-genre, .movie-release {
    border-radius: 19px;
    background-color: #ececec;
    font-family: "Circular Medium";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: #828286;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.movie-data .details .movie-genre {
    text-align: left;
}

.movie-data .details .movie-release {
    text-align: left;
}

.movie-data .details .movie-genre .genres-info {
    list-style-type: none;
    padding: 0;
    display: inline-block;    
}

.movie-data .details .movie-genre .genres-info .genres-list {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.movie-data .price-quantity-container {
    display: flex;
    justify-content: space-between;
}

.movie-data .overview-name, .price-name, .quantity-name {
    font-family: "Circular Black";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 0.2px;
    color: #111111;
}

.movie-data .overview .overview-value {
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: 0.2px;
    color: #828286;
    font-family: "Circular Book";
}

.movie-data .movie-price {
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie-data .movie-price .price-value {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: normal;
    color: #828286;
    font-family: "Circular Black";
}

.movie-data .quantity .quantity-value {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: normal;
    color: #828286;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.movie-data .quantity .quantity-value button {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
}

.movie-data .quantity .quantity-value button:hover{
    background-color: #b1b1b6;
}

.movie-data .quantity .quantity-value .value{
    font-family: "Circular Black";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #828286;
    margin: 18px 20px;
}

.movie-data .purchasing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.movie-data .purchasing .add-to-cart {
    width: 160px;
    height: 50px;
    border-radius: 4px;
    background-color: #0894a1;
    border: none;
    font-family: "Circular Black";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    background-image: url(../../styles-and-fonts/images/button-cart.svg);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
}

.movie-data .purchasing .add-to-cart:hover{
    background-color: #057e89;
}

.movie-data .purchasing .buy-now {
    width: 160px;
    height: 50px;
    border-radius: 4px;
    background-color: #eb553c;
    border: none;
    font-family: "Circular Black";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}

.movie-data .purchasing .buy-now:hover{
    background-color: #cf3f27;
}
