.content-container {
    width: 100%;
    display: flex-start;
    flex-direction: column;
    justify-content: center;
}

.movielist-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movielist-container .movielist {
    list-style-type: none;
    z-index: 0;
    margin: 0;
    padding: 0;

}





